.playlistButtonContainer {
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    z-index: 2;
    position: relative;
  }
  &:hover {
    .trackCircles {
      margin-top: 0;
      transform: translateY(2px);
    }
  }
}

.spaceDiv2 {
  display: none;
}

.trackCircles {
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
  margin-right: -10px;
  transition: 0.1s;
}

.circleImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: -10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .spaceDiv2 {
    display: block;
    height: 60px;
  }
  .playlistButtonContainer {
    position: fixed;
    top: 20px;
    margin: 0px;
    z-index: 100;
    box-sizing: border-box;
  }
  .smallButton {
    margin: 0;
  }
}
