$white: white;
$black: black;
$yellow: #f3a13b;
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Dela Gothic One';
  font-size: 60px;
}

h2 {
  font-family: 'Dela Gothic One';
  font-size: 52px;
  letter-spacing: 0.025em;
}

p {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

button {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;
  background-color: $white;
  transition: 0.2s ease-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
}

.mainButton {
  width: 328px;
  height: 68px;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchButton {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  width: 106px;
  height: 31px;
  background-color: $white;
  color: $black;
  &:active {
    color: $white;
    background-color: $white;
  }
}

.smallButton {
  background: $white;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 148px;
  height: 44px;
}
