.container {
  padding: 20px 50px 0px 80px;
  width: 100vw;
  max-width: 1600px;
  box-sizing: border-box;
  display: block;
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerDiv {
  max-width: 512px;
  position: relative;
  p {
    max-width: clamp(300px, 60vw, 715px);
    font-size: clamp(1rem, 2.4vw, 24px);
    line-height: clamp(1.5rem, 4vw, 33px);
    max-width: clamp(330px, 50vw, 512px);

    margin: clamp(5px, 2vw, 15px) 0px;
  }
  h2 {
    display: flex;
    font-size: clamp(2.25rem, 7.5vw, 52px);
    margin: clamp(5px, 2vw, 15px) 0;
    font-weight: bold;
  }
}

.switchBtns {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
  max-width: 370px;
}

#activated {
  color: white;
  background: black;
}

.listWrap {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#animateRender {
  .trackCard-component,
  .artistCard-component {
    opacity: 0;
    animation: appearAnimation 250ms ease-out forwards;
    @for $i from 0 through 49 {
      &:nth-child(#{$i}) {
        animation-delay: 110ms * $i;
      }
    }
  }
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.cardWrap {
  margin-right: 30px;
  margin-bottom: 40px;
}

#underlineText {
  position: relative;
  max-width: fit-content;
  img {
    position: absolute;
    right: 0px;
    bottom: 0;
    margin-right: -2px;
    width: 55%;
    height: 7px;
  }
}

.loadingContainer {
  height: calc(100vh - 300px);
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 1050px) {
  .headerContainer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 650px) {
  .headerDiv {
    width: 100%;
  }
  .headerContainer {
    width: 100%;
    align-items: flex-end;
  }
  .container {
    padding: 15px 5vw 90px 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h2 {
      display: flex;
      font-size: clamp(2.35rem, 5.85vw, 52px);
      margin: clamp(5px, 2vw, 15px) 0;
    }
  }

  .listWrap {
    justify-content: center;
    margin-top: 20px;
  }

  .cardWrap {
    margin: 0;
  }

  .cardContainer {
    margin: 15px 0px;
  }

  .switchBtns {
    margin: 40px 0px 0px 0px;
    max-width: 370px;

    justify-content: space-between;
  }

  .switchButton {
    font-size: clamp(1.1rem, 2.4vw, 24px);
    &:hover {
      transform: unset;
      outline: none;
    }
  }
}

@media (max-width: 374px) {
  .headerContainer {
    h2 {
      font-size: clamp(1.4rem, 9vw, 52px);
    }
  }

  .switchButton {
    font-size: clamp(0.9rem, 4.4vw, 24px);
    padding: 0px 5%;
  }
}

@media (max-width: 221px) {
  #underlineText {
    img {
      left: 0;
    }
  }
}
