.cardContainer {
  display: flex;
  max-width: fit-content;
  box-sizing: border-box;
  margin-left: -15px;
}

.trackCard-component * .cardWrap {
  width: 329px;
  min-height: 124px;
  max-height: fit-content;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  //transition: 0.2s ease-in-out;
  &:hover {
    width: 350px;
    min-height: 134px;
    h4,
    h5 {
      text-overflow: unset;
      white-space: unset;
      overflow: unset;
    }
    img {
      transition: 0.2s ease-in-out;
    }
  }
}

.trackCard-component * .imageDiv {
  width: 37%;
  max-height: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
  #albumImage {
    width: 100%;
    height: 100%;
    // max-width: 150px;
    object-fit: cover;
    filter: brightness(85%);
  }
  .playBtn {
    position: absolute;
    width: 17px;
    height: 21px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    .playBtn {
      width: 20px;
      height: 24px;
      transform: translate(-45%, -50%);
    }
    #albumImage {
      filter: brightness(95%);
    }
  }
}

.trackCard-component * .mainContent {
  z-index: 2;
  width: 63%;
  position: relative;
  padding: 5px 15px 7px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  h4 {
    color: white;
    font-size: 20px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h5 {
    color: white;
    font-size: 15px;
    text-align: right;
    font-weight: 400;
    line-height: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  p {
    color: white;
    font-size: 12px;
    text-align: right;
    font-weight: 400;
    line-height: 30px;
  }
}

#albumImageBlured {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  filter: brightness(95%);
}

.trackCard-component * .glassDiv {
  border-radius: 0px 20px 20px 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    154.85deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.4) 108.17%
  );
  backdrop-filter: blur(20px);
  z-index: -1;
}

.footerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.openBtn {
  margin-right: 22px;
}

.positionNumber {
  text-align: right;
  width: 15px;
}

@media (max-width: 900px) {
  .imageDiv {
    width: 34%;
  }
  .mainContent {
    width: 76%;
  }
  .trackCard-component * .cardWrap {
    width: clamp(200px, 90vw, 400px);

    h4 {
      font-size: clamp(15px, 5vw, 20px);
    }

    h5 {
      font-size: clamp(12px, 4vw, 15px);
    }
  }
}
