.cardContainer {
  display: flex;
  max-width: fit-content;
  box-sizing: border-box;
  margin-left: -15px;
}

.artistCard-component * .cardWrap {
  width: 329px;
  min-height: 151px;
  max-height: 151px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  transition: 0.15s ease-out 0.12s;

  &:hover {
    width: 340px;
    max-height: fit-content;
    .animationTextWrapper {
      max-height: 250px;
      transition: 2s ease-out;
      transition-delay: 0.5s;
      h4 {
        animation: textHoverAnimation 0.1s ease-in 0.12s forwards;
      }
    }
    p {
      animation: textHoverAnimation 0.1s ease-in 0.12s forwards;
    }
    .plusBtn {
      img {
        transition: 0.15s ease-out 0.12s;
        width: 15px;
      }
    }
  }
}

@keyframes textHoverAnimation {
  100% {
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
  }
}

.artistCard-component * .imageDiv {
  width: 37%;
  max-height: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;

  #albumImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
    transition: 0.3s ease-out;
  }

  &:hover {
    #albumImage {
      filter: brightness(90%);
    }
  }
}

.artistCard-component * .mainContent {
  width: 63%;
  position: relative;
  padding: 12px 15px 7px 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: left;
  .animationTextWrapper {
    max-height: fit-content;
    overflow: hidden;
  }

  h4 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 0px 15px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

#followersPar {
  margin-top: 0px;
}

#followers {
  font-size: 12px;
  font-weight: 600;
}

.artistCard-component * #albumImageBlured {
  position: absolute;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  filter: brightness(75%);
}

.artistCard-component * .glassDiv {
  border-radius: 0px 20px 20px 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    154.85deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 108.17%
  );
  backdrop-filter: blur(20px);
  z-index: -1;
}

.artistCard-component * .footerButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.artistCard-component * .openBtn {
  margin-right: 22px;
}

.artistCard-component * .positionNumber {
  text-align: right;
  width: 15px;
}

@media (max-width: 900px) {
  .imageDiv {
    width: 34%;
  }
  .mainContent {
    width: 76%;
  }
  .artistCard-component * .cardWrap {
    width: clamp(200px, 90vw, 400px);
    min-height: 120px;
    max-height: fit-content;

    h4 {
      font-size: clamp(15px, 5vw, 20px);
    }

    h4,
    p {
      text-overflow: unset;
      white-space: unset;
      overflow: unset;
    }

    .animationTextWrapper {
      max-height: 350px;
    }

    &:hover {
      width: clamp(200px, 90vw, 400px);
    }
  }
}
